/* Set the size of the div element that contains the map */
#degreeMap {
    height: 80%;
    /* The height is 500 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

h1 {
      font-family: 'Verdana', Arial, sans-serif;
      font-size: 30px;
      text-align: center;
  }

p {
    font-family: 'Verdana', Arial, sans-serif;
    font-size: 15px;
    text-align: center;
}

#parksMap {
    height: 600px;
    width: 100%
}

ul {
  display: table;
  margin: auto;
}

li {
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 20px;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
  